---
import AboutMe from "@/components/page/AboutMe.astro";
import Experience from "@/components/page/Experience.astro";
import Main from "@/components/page/Main.astro";
import Projects from "@/components/page/Projects.astro";
import Skills from "@/components/page/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="®Kevnnard - Oficial site"
  description="Kevnnard Oficial site & Portfolio, all about me, knowlegde, stacks, Skills, projects, etc"
>
  <main class="py-10">
    <Main />
    <Experience />
    <Projects />
    <AboutMe />
    <Skills />
  </main>
</Layout>
