---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import { ThemeProvider } from "@/components/app/theme-provider";
import Footer from "@/components/page/Footer.astro";
import { HeaderComponent } from "@/components/page/Header";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="https://github.com/kevnnard.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body
    class="bg-background text-foreground max-w-7xl px-10 mx-auto"
  >
    <ThemeProvider
      attribute="class"
      defaultTheme="dark"
      enableSystem={false}
      disableTransitionOnChange
      client:load
    >
      <HeaderComponent client:load />
      <slot />
      <Footer />
    </ThemeProvider>
  </body>
</html>
