name: "[bot update] README.md"

on:
  schedule:
    - cron: "0 12 * * *"

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.KEY }}

      - run: |
          git config --global user.name "bot-kevnanrd"
          git config --global user.email "londonokevin9@gmail.com"

      - run: |
          git branch patch-1

          echo " " >> README.md

          git add README.md
          git diff --quiet && git diff --staged --quiet || git commit -m "[bot] Update README with latest info"

      - run: |
          git push
